[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
matplotlib = "*"
pandas = "*"
sklearn = "*"
scikit-learn = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.8"
